<!DOCTYPE html>
<head>
    <title>Qr Code generator</title>
    <!-- to fetch the css when working with flask use {{ url_for('static', filename='main.css') }} as the href -->
    <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}" />

</head>
<html>
    <div class="main">
        <form method="POST">
            <input name="text">
            <div>
                <input type="color" name="bgcolor" id="background" name="background"
                       value="#e66465">
                <label for="background">background Color</label>
            </div>
            
            <div>
                <input type="color" name="qrcolor" id="qrCode" name="qrCode"
                        value="#f6b73c">
                <label for="qrCode">Qr Code Color</label>
            </div><br>
            <button type="submit"></button>
        </form>
       
        <div class="toolbar">

        </div>
        <div class="mainContents">

        </div>
        <div class="generatedQrCode">

        </div>
    </div>
    <div class="footer">

    </div>
</html>