<!DOCTYPE html>
<html>
    <head>
        <title>Qr Code generator</title>
        <!-- to fetch the css when working with flask use {{ url_for('static', filename='main.css') }} as the href -->
        <link type="text/css" rel="stylesheet"  href="{{ url_for('static', filename='main.css') }}" />
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <style>
            @font-face{
                font-family: KenyanCoffee;
                src: url("{{ url_for('static',filename='kenyanCoffee.ttf') }}") ;
            }
            </style>
    </head>
    <body style=" font-family: KenyanCoffee;">
        <div class="main">
            <div class="toolbar">
                <div class="three-dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h1>
                    Colorful QR code Generator
                </h1>
                <div>

                </div>
               
            </div>
            <div class="center-stuff">
                <img src="{{  url_for('static', filename='processed.png') }}" alt="User Image">
                <a href="{{  url_for('static', filename='processed.png') }}" download="colorQrCode">
                  <button class="download-btn"  style=" font-family: KenyanCoffee; letter-spacing: 1px;">
                    Download Qr Code
                </button>
                </a>
              

            </div>
           
        </div>
        <div class="footer">
            <span>Leon Kipkoech</span>
            <span>2020©</span>
        </div>
    </body>
  
</html>

